
.DS_Store

DerivedData/

build/

*.xcuserstate

xcuserdata/

.build/

.swiftpm/

*.swp

# Distribution artifacts
*.xcarchive
*.dSYM
*.ipa
*.pkg

# Signing material
*.p8
*.p12
*.mobileprovision
*.provisionprofile
*.cer
*.crt
*.key
*.pem
