<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ApuSeq</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apuseq.fasta</string>
				<string>org.fasta</string>
				<string>aliview.fa</string>
				<string>aliview.fas</string>
				<string>aliview.fasta</string>
				<string>org.clustal</string>
				<string>public.plain-text</string>
			</array>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).alignmentdocument</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FASTA Alignment</string>
			<key>UTTypeIdentifier</key>
			<string>com.apuseq.fasta</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fa</string>
					<string>fas</string>
					<string>fasta</string>
					<string>fna</string>
					<string>ffn</string>
					<string>faa</string>
					<string>frn</string>
					<string>fsa</string>
					<string>fsa_nt</string>
					<string>fsa_aa</string>
					<string>mpfa</string>
				</array>
				<key>public.mime-type</key>
				<string>text/x-fasta</string>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FASTA Alignment</string>
			<key>UTTypeIdentifier</key>
			<string>org.fasta</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fa</string>
					<string>fas</string>
					<string>fasta</string>
					<string>fna</string>
					<string>ffn</string>
					<string>faa</string>
					<string>frn</string>
					<string>fsa</string>
					<string>fsa_nt</string>
					<string>fsa_aa</string>
					<string>mpfa</string>
				</array>
				<key>public.mime-type</key>
				<string>text/x-fasta</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FASTA Alignment</string>
			<key>UTTypeIdentifier</key>
			<string>aliview.fa</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fa</string>
				</array>
				<key>public.mime-type</key>
				<string>text/x-fasta</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FASTA Alignment</string>
			<key>UTTypeIdentifier</key>
			<string>aliview.fas</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fas</string>
				</array>
				<key>public.mime-type</key>
				<string>text/x-fasta</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FASTA Alignment</string>
			<key>UTTypeIdentifier</key>
			<string>aliview.fasta</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fasta</string>
				</array>
				<key>public.mime-type</key>
				<string>text/x-fasta</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Clustal Alignment</string>
			<key>UTTypeIdentifier</key>
			<string>org.clustal</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>aln</string>
					<string>clustal</string>
				</array>
				<key>public.mime-type</key>
				<string>text/x-clustal</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
